.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #FFF5EB;
}

.destaque-titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 4rem;
    color: #EE5461;
}

.destaque-titulo>span {
    color: #A2B72B;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}